<div class="container-fluid hidden-md-down">
    <div class="row float-left">
        <div class="col-xs-12 p-1 text-left">
            <h3>
                {{ 'Users' | translate }}
            </h3>
        </div>
    </div>
    <div class="row float-md-right ">
        <div class="col p-1  ">
            <button mat-raised-button class="expand" color="default" (click)="logIn();">{{ 'Xls' | translate }}</button>
        </div>
        <div class="col p-1">
            <button mat-raised-button class="expand" color="default" (click)="logIn();">{{ 'Pdf' | translate }}</button>
        </div>
        <div class="col p-1">
            <button mat-raised-button class="expand" color="default"
                (click)="logIn();">{{ 'Delete' | translate }}</button>
        </div>
        <div class="col p-1">
            <button mat-raised-button class="expand" color="default" (click)="logIn();">{{ 'New' | translate }}</button>
        </div>
        <div class="col p-1">
            <button mat-raised-button class="expand" color="default"
                (click)="getAll();">{{ 'Refresh' | translate }}</button>
        </div>
    </div>
</div>

<div class="container-fluid pr-0 hidden-lg-up">
    <div class="row float-left">
        <div class="col-xs-12 p-1 text-left">
            <h3>
                {{ 'Users' | translate }}
            </h3>
        </div>
    </div>
    <div class=" float-right">
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Refresh</button>
            <button mat-menu-item>New</button>
            <button mat-menu-item>Delete</button>
            <button mat-menu-item>Xls</button>
            <button mat-menu-item>Pdf</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</div>

<mat-divider class="clear pt-3 pb-4"></mat-divider>

<app-itable [inColumns]="columns" [inServiceApi]="'users'"  [inPageSize]="pageSize" [inPageSizeOptions]="pageSizeOptions" ></app-itable>


